body {
  margin: 0;
}

.header {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0 50px;
  align-items: center;
}

.nav__link {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-decoration: none;
  margin-left: 20px;
  height: 60px;
}

.nav__link:first-child {
  margin-left: 0;
}

.logo {
  display: block;
  position: relative;
  top: 10px;
  left: 50px;
}
