body {
  margin: 0;
}

.header {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo {
  display: block;
  position: absolute;
  top: 10px;
  left: 50px;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-left: 20px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  height: 60px;
  color: #000;
}

.nav__link:hover,
.is-active {
  color: #00acdc;
}

.is-active::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 4px;
  bottom: 0;
  background: #00acdc;
  border-radius: 8px;
}
